*{
    font-family: "Gill Sans", sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
.container{
    
    min-height: 100vh;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden, .content {
    padding: 24px 32px 48px 32px;
    width: 550px;
    height: 50vh;
    margin: 2vh 0 12vh 0;
    flex: 0 1 auto;
}

.hidden {
    opacity: 0;

}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
    font-size: 18px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    animation: showContentBlock 1s linear forwards;
}
  
@keyframes showContentBlock {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.location {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bolder;
}
.temperature-container {
    flex: 6 1 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-size: cover;    
    background-repeat: no-repeat;
    background-position: center;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;

}

.temperature {
    color: white;
    font-weight: bolder;
    font-size: 65px;
    flex: 3 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-end;
}

.feels-like-temperature{
    color: white;

    flex: 2 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
}

.weather {
    flex: 1 1 0;
    display: flex;
    align-items:flex-end;
}
.wind-speed {
    flex: 1 1 0;
    display: flex;
    align-items:flex-end;
}
.humidity {
    flex: 1 1 0;
    display: flex;
    align-items:flex-end;
}

.input{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px;

    height: 50px;
    width: 280px;
    padding-left: 12px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius:  32px;

    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

input[type=text] {
    padding: 6px 9px;
    border-style: hidden;
    font-size: 16px;
    min-width: 0px;
}

*,*:focus,*:hover{
    outline:none;
}

.button {
    background-color: #ADD8E6; 
    margin-left: -10px;
    border: none;
    color: black;
    height: 50px;
    min-width: 100px;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius:  32px;
}


.button:hover{
    background-color:#89c2d6;
}

.item{
    font-size: 14px;
    padding:6px;
}

.container {
	
	height: 100vh;
}

.base_background{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.thunderstorm, .rain, .drizzle {
    background: linear-gradient(-45deg, #838383, #3c7be7, #2338d5, #687489);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.mist, .smoke, .haze, .dust, .fog, .sand, .ash, .squall, .tornado, .clouds {
    background: linear-gradient(-45deg, #644d61, #687489, #644d61, #2338d5);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.snow{
    background: linear-gradient(-45deg, #7babff,  #2338d5, #91b9ff, #ffc248);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;

}

.clear{
    background: linear-gradient(-45deg, #aaeaff, #5f9aff, #ffc248, #ff9532);
    background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.header-text{
    color: white;
    height: 70px;
    text-shadow: 5px 10px 5px rgba(34, 60, 80, 0.2);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
